<header> <!--Início do header-->
    <nav class="navbar navbar-light bg-primary"> <!--Início da navegação-->
        <a href="/" class="navbar-brand">
            <img src="/img/guia.png" alt="Imagem de logo">
        </a>
    </nav> <!--Fim da navegação-->
</header> <!--Fim do header-->